<!-- si tengo hijos, o sea si soy un composite-->
@if (root.getChildren().length > 0) {
  <li>
    <span class='tf-nc ' [ngStyle]="{
            'background-color': root.getState(umbralInferior, umbralSuperior),
            'color': ( root.getState(umbralInferior, umbralSuperior) === 'red' || root.getState(umbralInferior, umbralSuperior) === 'green' ) ? 'white': 'black',
            'display': 'inline-block',
            'font-size': '12px',
            'width': '5em'
    }
 
 ">
    {{ root.average() | number}}
  </span>
  <ul>
    @for (child of root.getChildren(); track child) {
      <li>
        <app-nodo [umbralInferior]='umbralInferior' [umbralSuperior]='umbralSuperior' [root]='child' [showDraw]="showDraw"></app-nodo>
      </li>
    }
  </ul>
</li>
}

<!-- si soy una hoja -->
@if (root.getChildren().length === 0 ) {
  <li>
    <span class='tf-nc ' [ngStyle]="{
    'background-color': root.getState(umbralInferior, umbralSuperior), 
    'font-size': '14px',
    'width': '5em',
    'color': ( root.getState(umbralInferior, umbralSuperior) === 'red' || root.getState(umbralInferior, umbralSuperior) === 'green' ) ? 'white': 'black'
}
    ">
    {{ root.average() | number}}
  </span>
</li>
}
<!-- si soy una hoja y quiero mostrar el automata-->
@if (showDraw == 1) {
  <span class=''>
    @if (root.getChildren().length === 0) {
      <app-two-lines-app [automata]='root.getAutomata()' ></app-two-lines-app>
    }
  </span>
}
