<!-- si tengo hijos, o sea si soy un composite-->
<li *ngIf='root.getChildren().length > 0'>
    <span class='tf-nc ' [ngStyle]="{
        'background-color': root.getState(umbralInferior, umbralSuperior),
    'color': ( root.getState(umbralInferior, umbralSuperior) === 'red' || root.getState(umbralInferior, umbralSuperior) === 'green' ) ? 'white': 'black',
 'display': 'inline-block', 'font-size': '12px', 'width': '5em'}
 
 ">
        {{ root.average() | number}}

    </span>
    <ul>
        <li *ngFor='let child of root.getChildren()'>
            <app-nodo [umbralInferior]='umbralInferior' [umbralSuperior]='umbralSuperior' [root]='child'></app-nodo>
        </li>
    </ul>
</li>

<!-- si soy una hoja -->
<span *ngIf='root.getChildren().length === 0 ' class='tf-nc nodo' 
    [ngStyle]="{
    'background-color': root.getState(umbralInferior, umbralSuperior), 
    'font-size': '14px',
    'width': '5em',
    'color': ( root.getState(umbralInferior, umbralSuperior) === 'red' || root.getState(umbralInferior, umbralSuperior) === 'green' ) ? 'white': 'black'
}
    ">
    {{ root.average() | number}}


</span>
<!-- si soy una hoja y quiero mostrar el automata-->
<span *ngIf='showDrawing' class=''>

    <app-two-lines-app *ngIf='root.getChildren().length === 0' [cube]='root.getAutomata()' ></app-two-lines-app>
</span>
