
.contenedor {
     display: flex;
  flex-wrap: nowrap; /* Evita saltos de línea */

//   justify-content: space-between; /* Distribuye el espacio entre elementos */
  align-items: center;
    }
.bloque {
   width: 100px
   height: 100px
   background: blue 
    }