
<div >
    
    <div>
    
    {{ nombre }}
    </div>
    <div>
    {{ columnas}}
    </div>
    <div>
    
    {{ filas}}
    </div>
</div>


<!-- total filas : {{ datosMatriz.length }} -->
<!-- total columnas : {{datosMatriz[0].length}} -->
<p>
    <button (click)="guardarMatriz()">
        GUARDAR MATRIZ</button>
</p>

<!-- <table border="1">
    <tr *ngFor="let fila of datosMatriz" >
        <td *ngFor="let celda of fila " style="width: 20px; height: 20px">

            {{ celda }}
        </td>
    </tr>
</table> -->
<div *ngIf="automata">
    <p>
        LOCAL GENERATION: {{generacion}}
    </p>
<p>
        AUTOMATA GENERATION: {{automata.getGeneration()}}
    </p>


<h3>tabla regas</h3>
<table border="1">
    <thead>
        <tr>
            <th>regla</th>
            <th>color</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>verde</td>
            <td>{{ automata.getGreenRule().name }}</td>
        </tr>
<tr>
            <td>azul</td>
            <td>{{ automata.getBlueRule().name }}</td>
        </tr>
<tr>
            <td>gris</td>
            <td>{{ automata.getGrayRule().name }}</td>
        </tr>
<tr>
            <td>café</td>
            <td>{{ automata.getBrownRule().name }}</td>
        </tr>
<tr>
            <td>red</td>
            <td>{{ automata.getRedRule().name }}</td>
        </tr>
    </tbody>
</table>

<app-tabla
[anchoCelda]="4"
[datos_matriz]="automata.getMatrizActiva()"
>
</app-tabla>

<table border="1">
    <tr>
        <td>top position</td>
        <td>{{ automata.topPosition }}</td>
    </tr>
    <tr>
        <td>left position</td>
        <td>{{ automata.leftPosition }}</td>
    </tr>
</table>

<app-automata [automata]="automata">
</app-automata>
      <!-- [auxiliaryLines]="false"
      [showStats]="true"
      [showController]="true"
      [coloresRegla1]="coloresRegla1"
      [coloresRegla2]="coloresRegla2"
      [coloresRegla3]="coloresRegla3"
      [coloresRegla4]="coloresRegla4"
      [coloresRegla5]="coloresRegla5"
      [coloresRegla6]="coloresRegla6"
      [coloresRegla7]="coloresRegla7" -->

</div>
