<p>
    ancho eje x : {{ anchoEjeX }}
</p>




<div style="display: inline-block;">

<canvas style="border: '1px solid gray'" #myCanvas [width]="anchoLienzo" [height]="largoLienzo" ></canvas>
</div>
<div *ngIf="showOptions" style="display: inline-block; margin-left: 4em; border: 1px solid gray; padding: 2em">
    <div>
        tipo: {{ tipo }}
    </div>
    <div>
        <button (click)="disminuirX()">disminuir</button>
        <button (click)="aumentarX()">aumentar</button>

        <div>
            derivada : {{ pendiente }}
        </div>
        <hr>
        <div>
            <button (click)="disminuirInicio()">-</button><button (click)="aumentarInicio()">+</button>
            {{ inicio}}
        </div>
        <div>
            <button (click)="disminuirFin()">-</button><button (click)="aumentarFin()">+</button>
            {{ fin }}
        </div>
        <p>
            DIFERENCIA INTEGRAL = {{ fin - inicio }}
        </p>
        <p>
        ¿ CUÁNTOS RECTANGULOS NECESITO ? {{ ( fin - inicio ) / anchoRectangulo}}
        </p>
        <p>
            VALOR INTEGRAL = <strong> {{ valorIntegral  }}
            </strong>
        </p>
        <p>
            <button (click)="disminuirAnchoRectangulo()">-</button>
            <button (click)="aumentarAnchoRectangulo()">+</button>
            ANCHO RECTANGULO = {{ anchoRectangulo }}
        </p>
        <p>
            <button disabled (click)="disminuirCantidadRectangulos()">-</button>
            <button disabled  (click)="aumentarCantidadRectangulos()">+</button>
            CANTIDAD RECTANGULO = {{ cantidadRectangulos }}
        </p>
        <p>
            CANTIDAD_RECTANGULOS * ANCHO_RECTANGULOS = {{ cantidadRectangulos * anchoRectangulo}}
        </p>
        <p>
            <button (click)="alejar()">-</button>
            <button (click)="acercar()">+</button>
            ANCHO EJE X = {{ ANCHO_EJE_X }}
        </p>

        <p>
            <input type="color" name="" id="" (change)="cambiarColorFondoLienzo($event.target.value)" ngModel
                [(ngModel)]="colorFondoLienzo" [value]="colorFondoLienzo"> COLOR FONDO CALCULADORA {{ colorFondoLienzo
            }}
        </p>



        <p>
            <input type="color" name="" id="" (change)="cambiarColorCurva($event.target.value)" ngModel
                [(ngModel)]="colorCurva" [value]="colorCurva"> COLOR CURVA {{ colorCurva }}
        </p>
        <p>
            <input type="color" name="" id="" (change)="cambiarColorIntegral($event.target.value)" ngModel
                [(ngModel)]="colorIntegral" [value]="colorIntegral"> COLOR INTEGRAL {{ colorIntegral }}
        </p>
        <p>
            <input type="number" name="" id="" (change)="cambiarAnchoCurva($event.target.value)" ngModel
                [(ngModel)]="anchoCurva" [value]="anchoCurva">
            ANCHO CURVA

        </p>
        <p>
            <input type="number" name="" id="" (change)="cambiarAnchoDerivada($event.target.value)" ngModel
                [(ngModel)]="anchoDerivada" [value]="anchoDerivada">
            ANCHO DERIVADA

        </p>
        <p>
            <input type="checkbox" name="" id="" (change)="cambiarMostrarDerivada($event.target.value)" ngModel
                [value]="mostrarDerivada">
            MOSTRAR DERIVADA

        </p>
        <p>
            <input type="checkbox" name="" id="" (change)="cambiarFillRectangles()" [value]="fillRectangles">
            FILL RECTANGLES

        </p>
        <div>
            <h2>

                {{ derivada?.ecuacionRecta() }}
            </h2>
        </div>

        <!-- <table border="1">
        <thead>
            <tr>
                <th>x</th>
                <th>f(x)</th>
            </tr>
        </thead>
        <tbody>

        <tr>
            <td>{{ usuarioX | number : '1.2-2' }}</td>
            <td></td>
        </tr>
        <tr>
            <td>{{ usuarioX + 0.0001 }}</td>
            <td></td>
        </tr>
        </tbody>
    </table> -->
        <p>


        </p>
    </div>

    <button (click)="aumentarAnchoLienzo()">aument ancho lienzo</button>
    <button (click)="disminuirAnchoLienzo()">dism ancho lienzo</button>
    <br>

    <button (click)="aumentarLargoLienzo()">aument largo lienzo</button>
    <button (click)="disminuirLargoLienzo()">dism largo lienzo</button>
    <br>
    <button (click)="aumentarCenterX()">left</button>
    <button (click)="disminuirCenterX()">right</button>
    <br>
    <button (click)="aumentarCenterY()">up</button>
    <button (click)="disminuirCenterY()">down</button>
    <br>
    <button (click)="centrar()">centrar</button>
    <br>
</div>

<!-- <table border="1">
    <thead>
        <tr>
            <th>x</th>
            <th>f(x)</th>
            <th>x ( transformado )</th>
            <th>f(x) ( transformado )</th>
        </tr>
    </thead>
    <tbody>

    <tr  *ngFor="let point of getPoints(-2, 2 ) ">
        <td> {{ point.getX() }}</td>
        <td> {{ point.getY() }}</td>
        <td> {{ transformadorDePuntos.transformarPunto(point).getX() }}</td>
        <td> {{ transformadorDePuntos.transformarPunto(point).getY() }}</td>
    </tr>
    </tbody>
</table> -->


<!-- <table border="1">
    <tr>
        <td>ancho ejex </td>
        <td>{{ ANCHO_EJE_X }}</td>
    </tr>
    <tr>
        <td>desde x</td>
        <td>{{ - ANCHO_EJE_X / 2 }}</td>
    </tr>
    <tr>
        <td>hasta x</td>
        <td>{{ ANCHO_EJE_X/ 2 }}</td>
    </tr>
<tr>
        <td>Center X</td>
        <td>{{ centerX }}</td>
    </tr>
<tr>
        <td>Center Y</td>
        <td>{{ centerY }}</td>
    </tr>
</table> -->