<canvas style="display: 'inline'; border: '1px solid gray'"
#myCanvas
[width]="anchoLienzo"
[height]="largoLienzo" >

</canvas>

<div class="TABS">
    <span (click)="PESTANA_ACTIVA=INTEGRAL">INTEGRAL</span>
    <span (click)="PESTANA_ACTIVA=DERIVADA">DERIVADA</span>
    <span (click)="PESTANA_ACTIVA=FUNCION">FUNCION</span>
    <span (click)="PESTANA_ACTIVA=LIENZO">LIENZO</span>
</div>



<div *ngIf="PESTANA_ACTIVA===INTEGRAL">
    <input
    (change)="showIntegral()"
    type="checkbox"> Show Integral
</div>
<div *ngIf="PESTANA_ACTIVA===DERIVADA">
    <input
    (change)="showDerivada()"
    type="checkbox"> Show Derivada
</div>
<div *ngIf="PESTANA_ACTIVA===INTEGRAL">
    <input
    (change)="cambiarFillRectangles()"
    type="checkbox"> Change fille rectangles
</div>
<table *ngIf='PESTANA_ACTIVA==LIENZO' border="1">
<tr>
        <td>ZOOM</td>
        <td style="max-width: '200px'; width: '200px'">{{ ANCHO_EJE_X }}</td>
        <td>
            <button (click)="alejar()">-</button>
            <button (click)="acercar()">+</button>
        </td>
    </tr>

    

<tr>
        <td>ANCHO EJE Y</td>
        <td style="max-width: '200px'; width: '200px'">{{ ANCHO_EJE_Y }}</td>
        <td>
            <button (click)="aumentarAnchoEjeY()">-</button>
            <button (click)="disminuirAnchoEjeY()">+</button>
        </td>
    </tr>



</table>
<br>

<table *ngIf="PESTANA_ACTIVA===FUNCION" border="1">
<tr>
        <td>TIPO</td>
        <td style="max-width: '200px'; width: '200px'">{{ tipo }}</td>
        <td>
            <button (click)="aumentarAnchoEjeY()" disabled>-</button>
            <button (click)="disminuirAnchoEjeY()" disabled>+</button>
        </td>
    </tr>
<tr *ngIf="tipo === 'SENO'">
        <td>SIN_POS_Y</td>
        <td style="max-width: '200px'; width: '200px'">{{ SIN_POS_Y }}</td>
        <td>
            <button (click)="SIN_POS_Y = SIN_POS_Y - 0.25; draw()">-</button>
            <button (click)="SIN_POS_Y = SIN_POS_Y + 0.25; draw()">+</button>
            <!-- <button (click)="SIN_POS_Y -= 1" >-</button> 
             <button (click)="SIN_POS_Y += 1" >+</button> -->
        </td>
    </tr>
<tr *ngIf="tipo === 'GAUSS'">
        <td>K_GAUSS_AMPLITUDE</td>
        <td style="max-width: '200px'; width: '200px'">{{ K_GAUSS_AMPLITUDE }}</td>
        <td>
            <button (click)="K_GAUSS_AMPLITUDE = K_GAUSS_AMPLITUDE - 0.05; draw()">-</button>
            <button (click)="K_GAUSS_AMPLITUDE = K_GAUSS_AMPLITUDE+ 0.05; draw()">+</button>
            <!-- <button (click)="SIN_POS_Y -= 1" >-</button> 
             <button (click)="SIN_POS_Y += 1" >+</button> -->
        </td>
    </tr>
<tr *ngIf="tipo === 'GAUSS' && PESTANA_ACTIVA===FUNCION">
        <td>K_GAUSS</td>
        <td style="max-width: '200px'; width: '200px'">{{ K_GAUSS }}</td>
        <td>
            <button (click)="K_GAUSS = K_GAUSS - 0.25; draw()">-</button>
            <button (click)="K_GAUSS = K_GAUSS + 0.25; draw()">+</button>
            <!-- <button (click)="SIN_POS_Y -= 1" >-</button> 
             <button (click)="SIN_POS_Y += 1" >+</button> -->
        </td>
    </tr>
<tr *ngIf="tipo === 'SIGMOIDE' ">
        <td>CONSTANTE SIGMOIDE</td>
        <td style="max-width: '200px'; width: '200px'">{{ K_SIGMOIDE }}</td>
        <td>
            <button (click)="K_SIGMOIDE = K_SIGMOIDE - 1; draw()" >-</button> 
             <button (click)="K_SIGMOIDE = K_SIGMOIDE + 1; draw()" >+</button>
        </td>
    </tr>
<tr *ngIf="tipo === 'SIGMOIDE' ">
        <td>SIN_FREQUENCY</td>
        <td style="max-width: '200px'; width: '200px'">{{ SIGMOIDE_Y }}</td>
        <td>
            <button (click)="SIGMOIDE_Y = SIGMOIDE_Y - 1; draw()" >-</button> 
             <button (click)="SIGMOIDE_Y = SIGMOIDE_Y + 1; draw()" >+</button>
        </td>
    </tr>
<tr *ngIf="tipo === 'SENO' ">
        <td>K_SENO</td>
        <td style="max-width: '200px'; width: '200px'">{{ K_SENO }}</td>
        <td>
            <button (click)="K_SENO = K_SENO - 0.5; draw()" >-</button> 
             <button (click)="K_SENO = K_SENO + 0.5; draw()" >+</button>
        </td>
    </tr>
<tr *ngIf="tipo === 'SENO' ">
    <td>SIN_FREQUENCY</td>
    <td style="max-width: '200px'; width: '200px'">{{ SIN_FREQUENCY }}</td>
    <td>
        <button (click)="decrementSinFrequency()">-</button>
        <button (click)="incrementSinFrequency()">+</button>
    </td>
</tr>
<tr *ngIf="tipo === 'CUADRATICA' ">
    <td>CUADRATICA_A</td>
    <td style="max-width: '200px'; width: '200px'">{{ CUADRATICA_A }}</td>
    <td>
        <button (click)="CUADRATICA_A = CUADRATICA_A - 1; draw();">-</button>
        <button (click)="CUADRATICA_A = CUADRATICA_A + 1; draw();">+</button>
    </td>
</tr>

<tr *ngIf="tipo === 'CUADRATICA' ">
    <td>CUADRATICA_B</td>
    <td style="max-width: '200px'; width: '200px'">{{ CUADRATICA_B }}</td>
    <td>
        <button (click)="CUADRATICA_B = CUADRATICA_B - 1; draw();">-</button>
        <button (click)="CUADRATICA_B = CUADRATICA_B + 1; draw();">+</button>
    </td>
</tr>
<tr *ngIf="tipo === 'CUADRATICA' ">
    <td>CUADRATICA_C</td>
    <td style="max-width: '200px'; width: '200px'">{{ CUADRATICA_C }}</td>
    <td>
        <button (click)="CUADRATICA_C = CUADRATICA_C - 1; draw();">-</button>
        <button (click)="CUADRATICA_C = CUADRATICA_C + 1; draw();">+</button>
    </td>
</tr>
</table>

<div *ngIf="PESTANA_ACTIVA===INTEGRAL">VALOR INTEGRAL = {{ valorIntegral }}</div>
<table border="1" *ngIf="PESTANA_ACTIVA===INTEGRAL">
<tr >
        <td>inicio integral</td>
        <td style="max-width: '200px'; width: '200px'">{{ inicio }}</td>
        <td>
            <button (click)="disminuirInicio()">-</button>
            <button (click)="aumentarInicio()">+</button>
        </td>
    </tr>
<tr >
        <td>fin integral</td>
        <td style="max-width: '200px'; width: '200px'">{{ fin }}</td>
        <td>
            <button (click)="disminuirFin()">-</button>
            <button (click)="aumentarFin()">+</button>
        </td>
    </tr>
<tr >
        <td>posición integral</td>
        <td style="max-width: '200px'; width: '200px'">{{ fin }}</td>
        <td>
            <button (click)="retrocederIntegral()">-</button>
            <button (click)="avanzarIntegral()">+</button>
        </td>
    </tr>
    <tr >
        <td> Integral Rectangle Width </td>
        <td style="max-width: '200px'; width: '200px'">{{ anchoRectangulo }}</td>
        <td>
            <button (click)="disminuirAnchoRectangulo()">-</button>
            <button (click)="aumentarAnchoRectangulo()">+</button>
        </td>
    </tr>
</table>
<table *ngIf="PESTANA_ACTIVA===DERIVADA" border="1">
<tr *ngIf="SHOW_DERIVADA">
        <td>DERIVADA value x</td>
        <td style="max-width: '200px'; width: '200px'">{{ usuarioX }}</td>
        <td>
            <button (click)="disminuirX()">-</button>
            <button (click)="aumentarX()">+</button>
        </td>
    </tr>
</table>
<!-- <app-canvas-controller
    [anchoRectangulo]="anchoRectangulo"
></app-canvas-controller> -->

