<div style='border: 1px solid gray; padding: 1em;'>
    <canvas style='border: 1px solid gray' #myCanvas
width="400"
height="400"></canvas>

<br>

<div>
    p1 =>
    <br>
    x = {{ getPointA().getX() }}

    <button (click)='getPointA().setX(getPointA().getX() - 1); draw()'>-</button>
    <button  (click)='getPointA().setX(getPointA().getX() + 1); draw()'>+</button>
    <br>
    y = {{ getPointA().getY() }}
     <button (click)='getPointA().setY(getPointA().getY() - 1) ; draw()'>-</button>
    <button  (click)='getPointA().setY(getPointA().getY() + 1) ; draw()'>+</button>
</div>
    
 <div style='margin-top: 2em;'>
    p1 =>
    <br>
    x = {{ getPointB().getX() }}

    <button (click)='getPointB().setX(getPointB().getX() - 1); draw()'>-</button>
    <button  (click)='getPointB().setX(getPointB().getX() + 1); draw()'>+</button>
    <br>
    y = {{ getPointB().getY() }}
     <button (click)='getPointB().setY(getPointB().getY() - 1) ; draw()'>-</button>
    <button  (click)='getPointB().setY(getPointB().getY() + 1) ; draw()'>+</button>
</div>   
    
<br>
<div>
    {{ calcularPendiente() }}
</div>
<div>
    Scale:  {{ getScale() }}
    <button (click)='setScale(getScale() - 1); draw()'>-</button>
    <button (click)='setScale(getScale() + 1); draw()'>+</button>
</div>
   
    
    

    
</div>


