
  .tf-ancestor-tree {
    position: relative;
    transform: rotateX('180deg')
    }
  // .tf-ancestor-tree > ul { transform: rotateX(180deg); }
  .tf-ancestor-tree li ul { margin-bottom: 1em; }


  .node-text {
    display: inline-block;
    // transform: rotateX(180deg);
  }