
<app-pause-reset [automata]="automata"></app-pause-reset>
<p>
  {{ automata.getScale() }}
</p>
<table style='display: flexbox; width: 40%' *ngIf="true" >
  <tr>
    <td>LAVA</td>
    <td>{{ automata.getGrayRule().name }} </td> 
    <td>{{ automata.porcentajeGrises() }} </td> 
  </tr>
<tr>
    <td>tierra</td>
    <td>{{ automata.getBrownRule().name }} </td> 
    <td>{{ automata.porcentajeCafes() }} </td> 
  </tr>
<tr>
    <td>mar</td>
    <td>{{ automata.getBlueRule().name }} </td> 
    <td>{{ automata.porcentajeAzules() }} </td> 
  </tr>
<tr>
    <td>vegetación</td>
    <td>{{ automata.getGreenRule().name }} </td> 
    <td>{{ automata.porcentajeVerdes() }} </td> 
  </tr>
<tr>
    <td>RED</td>
    <td>  {{ automata.getRedRule().name }} </td> 
    <td>{{ automata.porcentajeRojos() }} </td> 
  </tr>
</table>
<p>
  {{ automata.getGeneration() }}
</p>

<button (click)="automata.upMilitary(2)">up</button>
<button (click)="automata.downMilitary()">down</button>
<app-automata
[automata]="automata"
[showStats]="false"
></app-automata>

<!-- <p>
  {{ automata.densidad() }}
</p> -->
  <!-- <app-graficas-automata [automata]="automata"></app-graficas-automata> -->
