
.fondo-negro {
  background-color: black;
  color: white; /* Opcional: para asegurar que el texto sea visible */
}

/* Para cuando la condición es falsa */
.fondo-blanco {
  background-color: white;
  color: black; /* Opcional: para asegurar que el texto sea visible */
}

.fondo-rojo {
    background-color: red;    
}

.fondo-verde {
    background-color: green;
}
.fondo-cafe {
    background-color: brown;
}
.fondo-azul {
    background-color: blue;
}
.fondo-gris {
    background-color: gray;
}