<ul>
<li><a [routerLink]="['/curvas/funcion-cuadratica']" class="nav-link">Quadratic</a></li>
<li><a [routerLink]="['/curvas/funcion-exponencial']" class="nav-link">Exponential</a></li>
<li><a [routerLink]="['/curvas/funcion-polinomica']" class="nav-link">Polynomial</a></li>
<li><a [routerLink]="['/curvas/gauss']" class="nav-link">Gauss</a></li>
<li><a [routerLink]="['/curvas/funcion-seno']" class="nav-link">Sine</a></li>
<li><a [routerLink]="['/curvas/recta']" class="nav-link">Line</a></li>
<li><a [routerLink]="['/curvas/exponenciales']" class="nav-link">curva libro</a></li>
<li><a [routerLink]="['/curvas/lista-lienzos']" class="nav-link">lista lienzos</a></li>
</ul>
<button md-button>New Canvas</button>

<router-outlet></router-outlet>