<ul>
  <li><a [routerLink]="['/']">Home</a></li>
  <li><a [routerLink]="['/minecraft-view']">Minecraft View</a></li>

  <li><a [routerLink]="['/reglas/110']" class="nav-link">Rules</a></li>
  <!-- <li><a [routerLink]="['/tree']" class="nav-link">Árbol</a></li> -->
  <!-- <li><a [routerLink]="['/funcion-logaritmica']" class="nav-link">Drawer</a></li> -->
  <li><a [routerLink]="['/automatas']" class="nav-link">Automatas</a></li>
  
  <li><a [routerLink]="['/curvas']" class="nav-link">Curvas</a></li>
  <li><a [routerLink]="['/matrices']" class="nav-link">Matrices</a></li>
  <li><a [routerLink]="['/arboles']" class="nav-link">Árboles</a></li>


 
  </ul>
<div
class="app-container"
[ngStyle]="
{'background-color': backgroundColor, 'min-height': '100vh', 'transition': 'background-color 1s ease'}
"
>
  
  <!-- Navigation Menu -->
  <!-- <nav class="main-nav">
    <div class="nav-container">
      <div class="nav-brand">
      </div>

    </div>
  </nav> -->

  <!-- Main Content -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>


<!-- <h2>automata 1</h2>
<table border=1 style='width: 300px'>
    <tr [ngStyle]='{ "background-color": v.color, "color": "white" }' *ngFor='let v of automata1.totales()'>
        <td>{{ v.name }}</td>
        <td>{{ v.total | number: '.2-2' }}</td>
    </tr>
</table> -->

<!-- dos vistas para un automata -->
<!-- <app-tabla [automata]="automata1"></app-tabla>
<app-two-lines-app [automata]="automata1"></app-two-lines-app> -->


<!-- <hr>

<h2>Automata 2</h2>
<app-two-lines-app [automata]="automata2" ></app-two-lines-app>
<app-tabla [automata]="automata2"></app-tabla>
<hr>
<h2>Automata 3 </h2>
filas {{ automata3.getFilas() }} columnas: {{ automata3.getColumnas() }}
<app-two-lines-app [automata]="automata3" ></app-two-lines-app> -->



<!-- <div> -->
    <!-- <h2>Árbol 1</h2> -->
<!-- {{ raiz.average()}} -->
<!-- </div> -->
<!-- <div>
</div> -->
<!-- <table border=1 style='width: 300px'>
            <tr  [ngStyle]='{ "background-color": v.color, "color": "white" }' *ngFor='let v of raiz.totales()'>
                <td>{{  v.name  }}</td>
                <td>{{ v.total | number: '.2-2' }}</td>
            </tr>
        </table> -->

    


<div class="tf-tree tf-ancestor-tree" style="font-size: 14px">

    <app-arbol-view [umbralInferior]='umbralInferior' [umbralSuperior]='umbralSuperior'[root]="raiz"></app-arbol-view>

</div>
<!-- <div>

    <h1>{{ umbralInferior }}</h1><button style="height: 50px; width: 200px"
        (click)='umbralInferior = umbralInferior - step'>-</button>
    <button style="height: 50px; width: 200px" (click)='umbralInferior = umbralInferior +  step '>+</button> <br>
    <h1>{{ umbralSuperior }}</h1>
    <button style="height: 50px; width: 200px" (click)='umbralSuperior = umbralSuperior - step'>-</button><button
        style="height: 50px; width: 200px" (click)='umbralSuperior = umbralSuperior + step'>+</button><br>
</div>
    <app-controlador-umbrales  [umbralInferior]='umbralInferior' [umbralSuperior]='umbralSuperior' ></app-controlador-umbrales>  
<br>
<button (click)='raiz.operation()'>operation!</button>
<br>
<div [ngStyle]="{ 'background-color': backgroundColor,  'margin': '0px', color: fontColor}"> -->







    <!-- <h1 *ngIf='showTitle' style='margin-top: 70px'>{{ title }}</h1> -->
    <!-- <div *ngIf='true' class='tf-tree tf-ancestor-tree '> -->
            <!-- <h2>Árbol 1</h2> -->
            <!-- <app-nodo
                [umbralInferior]='umbralInferior'
                [umbralSuperior]='umbralSuperior'
                [root]='raiz'
                [showDraw]='0'>
            </app-nodo> -->
            <!-- <hr> -->
            <!-- <h2>Árbol 2</h2>
            <app-nodo [umbralInferior]='umbralInferior' [umbralSuperior]='umbralSuperior' [root]='raiz2' [showDraw]='1'></app-nodo>

            <br><br>
            <div style="margin-top: 25em;">

            <h2>Árbol 3</h2>
            <app-nodo [umbralInferior]='umbralInferior' [umbralSuperior]='umbralSuperior' [root]='raiz3' [showDraw]='0'></app-nodo>
            </div> -->

    <!-- </div> -->
    <!-- <app-controlador-umbrales  [umbralInferior]='umbralInferior' [umbralSuperior]='umbralSuperior' ></app-controlador-umbrales>   -->

    <!-- <h2>{{ generacion }}</h2>
    <div *ngIf=' showCurva'>
        <app-curva *ngIf='mostrarGrafica' [automata]="automata1" [generacion]='generacion' [points]='points' [azules]='azules'
            [verdes]='verdes' [rojos]='rojos' [cafes]='cafes' [grises]='grises'></app-curva>
    </div> -->

    <!-- {{ raiz.getHojas().length}} -->

    <!-- <div *ngIf='showTabla'>
        <h2>Rack </h2>


        <app-tabla-nodo [umbralInferior]='umbralInferior' [umbralSuperior]='umbralSuperior' [nodo]='rack'>
        </app-tabla-nodo>

    </div> 
</div>--> 