{{ raiz.average()}}

<br>
<button (click)='raiz.operation()'>operation!</button>
<br>
<div [ngStyle]="{ 'background-color': backgroundColor,  'margin': '0px', color: fontColor}">

    <h1 *ngIf='showTitle' style='margin-top: 70px'>{{ title }}</h1>
    <div *ngIf='showArbol' class='tf-tree tf-ancestor-tree ' style='font-size: 4px;'>
        <ul>
            <app-nodo [umbralInferior]='umbralInferior' [umbralSuperior]='umbralSuperior' [root]='raiz'></app-nodo>
        </ul>
    </div>

    <div>

        <h4>{{ umbralInferior }}</h4><button (click)='umbralInferior = umbralInferior - step'>-</button>
        <button (click)='umbralInferior = umbralInferior +  step '>+</button> <br>
        <h4>{{ umbralSuperior }}</h4>
        <button (click)='umbralSuperior = umbralSuperior - step'>-</button><button
            (click)='umbralSuperior = umbralSuperior + step'>+</button><br>
    </div>

    <h2>{{ generacion }}</h2>
    <div *ngIf='showCurva'>
        <app-curva *ngIf='mostrarGrafica' [generacion]='generacion' [points]='points' [azules]='azules'
            [verdes]='verdes' [rojos]='rojos' [cafes]='cafes' [grises]='grises'></app-curva>
    </div>

    {{ raiz.getHojas().length}}
    <div *ngIf='showTabla'>

        <app-tabla-nodo [umbralInferior]='umbralInferior' [umbralSuperior]='umbralSuperior' [nodo]='raiz'>
        </app-tabla-nodo>

    </div>
</div>