
<!-- <table border="1">
    <tr>
        <td>opuesto/hipotenusa</td>
        <td>{{ cateto1() }}</td>
        <td>{{ cateto1() / hipotenusa() }}</td>
        <td>sen(alfa) </td>
    </tr>
    <tr>
        <td>adyacente/hipotenusa</td>
        <td>{{ cateto2() }}</td>
        <td>{{ cateto2() / hipotenusa() }}</td>
        <td>cos(alfa)</td>
    </tr>
    <tr>
        <td>adyacente/opuesto</td>
        <td>test</td>
        <td>{{ cateto2() / cateto1() }}</td>
        <td>tangente(alfa)</td>
    </tr>
</table> -->

<!-- <app-parabola
[tipo]="'GAUSS'"
*ngIf="obtenerPuntos().length > 0 && obtenerRectas().length > 0"
[f]="funcion()"
[showOptions]="false"
[integral]="false"
[curvas]="curvas2()"
[puntos]="obtenerPuntos()"
[rectas]="obtenerRectas()"
[circunferencias]="obtenerCircunferencias()"
[perpendiculares]="obtenerPerpendiculares()"
></app-parabola> -->

<!-- <div>
    
    <input type="text"> <button >Agregar Funcion</button>
</div> -->
