<table border="1"
style="width: 60%"
>
    <thead style="background-color: green; color: white">
        <tr>
            <th>regla</th>
            <th>color</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>verde</td>
            <td>{{ automata.getGreenRule().name }}</td>
        </tr>
<tr>
            <td>azul</td>
            <td>{{ automata.getBlueRule().name }}</td>
        </tr>
<tr>
            <td>gris</td>
            <td>{{ automata.getGrayRule().name }}</td>
        </tr>
<tr>
            <td>café</td>
            <td>{{ automata.getBrownRule().name }}</td>
        </tr>
<tr>
            <td>red</td>
            <td>{{ automata.getRedRule().name }}</td>
        </tr>
    </tbody>
</table>