<!-- si tengo hijos, o sea si soy un composite-->
<li *ngIf='root !== undefined && !root?.isLeaf()'>

<!-- <div  [ngStyle]="{ 'width': '30px',
'border': '1px solid gray', 'background': root.getState(umbralInferior, umbralSuperior),  'height': '30px', 'display': 'inline-block' }"></div> -->
    <span class="tf-nc" [ngStyle]="{
        'width': '70px',
        'background': root.getState(umbralInferior, umbralSuperior)
    }">
    <div>

        {{ root.average() | number}}
    </div>
    <div>

    <!-- <button (click)='agregarGrupoCelula(root)' [ngStyle]="{ 'width': '20px' }">+</button>
    <button  (click)='agregarHijos(root)'[ngStyle]="{ 'width': '20px' }">+</button> -->
    </div>
    </span>

    <ul>
        <li *ngFor='let child of root.getChildren()'>
            <app-arbol-view [root]="child"  [umbralInferior]='umbralInferior' [umbralSuperior]='umbralSuperior'></app-arbol-view>
        </li>
    </ul>
</li>

<li *ngIf='root !== undefined && root.isLeaf()'>
<!-- <div  [ngStyle]="{ 'width': '30px',
'border': '1px solid gray', 'background': root.getState(umbralInferior, umbralSuperior),  'height': '30px', 'display': 'inline-block' }"></div> -->
 
    <span [ngStyle]='{"width": "70px",

        "background": root.getState(umbralInferior, umbralSuperior)
}' class="tf-nc">

        {{ root.average() | number}}
    </span>

    <app-nuevo-automata  [automata]='root.getAutomata()' ></app-nuevo-automata>
</li>
    
